/* Trade.css */

.trade-container-parent {
  margin: 5.25rem auto;
}
.trade-container {
  width: 30.62rem;
  box-shadow: 0rem 0.37rem 0.62rem rgba(0, 0, 0, 0.08);
  border-radius: 1.37rem;
}

.trade-header {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem 0.5rem;
  background-color: white;
  color: rgb(86, 90, 105);
  justify-content: space-between;
  border-radius: 1.37rem 1.37rem 0 0;
}

.trade-title {
  color: black;
  font-weight: 500;
}

.settings-icon,
.chevron-icon,
.arrow-icon {
  cursor: pointer;
}

.trade-body {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0 0 1.37rem 1.37rem;
}

.token-selector {
  height: 120px;
  background-color: rgb(247, 248, 250);
  padding: 1rem 1rem 1.7rem;
  border-radius: 1.25rem;
  border: 0.06rem solid rgb(237, 238, 242);
  margin-top: 0.25rem;
}
.token-selector-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-selector:hover {
  border: 0.06rem solid rgb(211, 211, 211);
}

.token-button,
.token-button-select {
  background-color: white;
  border-radius: 1.12rem;
  box-shadow: 0rem 5.25rem 0.62rem rgba(0, 0, 0, 0.08);
  font-weight: 500;

  display: flex;
  align-items: center;
}
/* .token-button-select {
    background-color:rgb(252, 114, 255) ;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: rgb(0 0 0 / 8%) 0rem 5.25rem 0.62rem;
    
    border: 1px solid rgb(252, 114, 255);
    
   } */
.token-button-select {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(252, 114, 255);
  opacity: 1;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 18px;
  outline: none;
  user-select: none;
  border: 1px solid rgb(252, 114, 255);
  padding: 0rem 1rem;

  font-weight: 485;

  white-space: nowrap;
  padding: 6px 6px 6px 8px;

  gap: 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: 12px;
  box-shadow: rgba(34, 34, 34, 0.04) 0px 0px 10px 0px;
  visibility: visible;
}
.eth-token-button-select {
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color: rgb(34, 34, 34);
  cursor: pointer;
  height: 36px;
  border-radius: 18px;
  outline: none;
  user-select: none;
  border: 1px solid rgba(34, 34, 34, 0.07);
  font-size: 24px;
  font-weight: 485;
  width: initial;
  padding: 4px 2px 4px 2px;
  gap: 5px;
  -webkit-box-pack: justify;
  justify-content:center;
  box-shadow: rgba(34, 34, 34, 0.04) 0px 0px 10px 0px;
  visibility: visible;
  animation: auto ease 0s 1 normal none running none;
  width: 130px;
  text-align: center;
}

.token-button-select:hover {
  background-color: rgb(252, 114, 255);
}

.token-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.token-input {
  width: 60%;
  font-weight: 500;
  font-size: 1.5rem;
  /* text-align: right; */
  background-color: rgb(247, 248, 250);
  outline: none;
  border: none;
  focus-border-color: none;
}

.connect-wallet-button {
  color: rgb(213, 0, 102);
  background-color: rgb(253, 234, 241);
  width: 100%;
  margin-top: 20px;
  outline: none;
  border: 1px solid rgb(213, 0, 102);
  padding: 0.8rem;
  border-radius: 1.25rem;
}

.connect-wallet-button:hover {
  background-color: rgb(251, 211, 225);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

._footer {
  margin-top: 30px;
}
._arrow-icon  {
  margin-top: -35px;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


